.u-section-1 .u-sheet-1 {
  min-height: 374px;
}

.u-section-1 .u-image-1 {
  width: 776px;
  height: 352px;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  width: 268px;
  min-height: 100px;
  height: auto;
  margin: -276px auto 0 101px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-1 {
  font-family: Helvetica;
  font-size: 6rem;
  margin: -27px auto -27px 0;
}

.u-section-1 .u-line-1 {
  width: 776px;
  transform-origin: left center;
  margin: 195px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 327px;
    margin-top: 1px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -242px;
    margin-left: -20px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-top: 185px;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 245px;
    margin-top: 6px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -160px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.333333333333333rem;
  }

  .u-section-1 .u-line-1 {
    margin-top: 89px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 154px;
  }

  .u-section-1 .u-group-1 {
    width: 114px;
    min-height: 43px;
    margin-top: -99px;
    margin-left: -23px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin: -7px 11px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 75px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 401px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 359px;
  margin: 21px 186px 0 642px;
}

.u-section-2 .u-text-1 {
  font-family: Helvetica;
  margin: -315px 550px 0 183px;
}

.u-section-2 .u-group-elements-1 {
  width: 377px;
  min-height: 55px;
  height: auto;
  margin: 21px auto 30px 175px;
}

.u-section-2 .u-image-1 {
  width: 55px;
  height: 55px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 90px;
  height: 50px;
  margin: -52px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 50px;
  height: 50px;
  margin: -51px auto 0 99px;
}

.u-section-2 .u-image-4 {
  width: 61px;
  height: 50px;
  margin: -49px 151px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 50px;
  height: 50px;
  margin: -50px 79px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 86px;
    margin-left: 542px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 450px;
    margin-left: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 30px;
    margin-right: 16px;
    margin-left: 392px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -359px;
    margin-right: 344px;
    margin-left: 16px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 330px;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -50px;
    margin-left: 85px;
  }

  .u-section-2 .u-image-4 {
    margin-right: auto;
    margin-left: 143px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 443px;
    margin-top: 415px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -759px;
    margin-right: 18px;
    margin-left: 43px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 114px;
    margin-left: 84px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -51px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 312px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 39px;
    margin-left: 10px;
    margin-bottom: 17px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 150px;
}

.u-section-3 .u-text-1 {
  font-family: Helvetica;
  margin: 27px 551px 0 182px;
}

.u-section-3 .u-text-2 {
  font-family: Helvetica;
  font-size: 1.25rem;
  margin: -85px 152px 0 655px;
}

.u-section-3 .u-text-3 {
  font-family: Helvetica;
  margin: 3px 182px 27px 755px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 451px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 52px;
    margin-left: 555px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 82px;
    margin-left: 655px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 360px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -75px;
    margin-right: 0;
    margin-left: 387px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: 12px 0 29px 517px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-text-1 {
    width: 277px;
    margin-top: -178px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
    width: 333px;
    margin-top: 508px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin: 0 104px 19px 234px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-3 .u-text-3 {
    margin: 7px 4px 23px 134px;
  }
}@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica.ttf);
}