.u-section-1 .u-sheet-1 {
  min-height: 308px;
}

.u-section-1 .u-image-1 {
  width: 775px;
  height: 292px;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  width: 269px;
  min-height: 102px;
  height: auto;
  margin: -229px auto 60px 66px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-family: Helvetica;
  font-size: 6rem;
  margin: -26px 10px -26px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 271px;
  }

  .u-section-1 .u-group-1 {
    min-height: 104px;
    margin-top: -212px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: -25px 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 203px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -144px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 128px;
  }

  .u-section-1 .u-group-1 {
    width: 106px;
    min-height: 60px;
    margin-top: -94px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin: 2px auto 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 665px;
}

.u-section-2 .u-text-1 {
  font-family: Helvetica;
  font-size: 2.25rem;
  margin: 5px auto 0;
}

.u-section-2 .u-line-1 {
  width: 775px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Helvetica;
  margin: 34px auto 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 452px;
  width: 602px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-family: Helvetica;
  margin: -51px 993px 111px 131px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 893px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 704px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 524px;
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 262px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 324px;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 519px;
}

.u-section-3 .u-text-1 {
  font-family: Helvetica;
  margin: 0 auto 0 269px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 452px;
  width: 602px;
  margin: 5px 269px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: 169px;
    margin-left: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 206px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 59px;
    margin-left: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-right: 165px;
    margin-left: 155px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 65px;
    margin-left: 55px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 264px;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 456px;
}

.u-section-4 .u-text-1 {
  font-family: Helvetica;
  margin: 36px auto 0 269px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 456px;
  width: 603px;
  margin: -50px auto -15px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 5px;
    margin-left: 155px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 405px;
    margin-top: -56px;
    margin-bottom: -25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 255px;
    margin-top: -26px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 597px;
}

.u-section-5 .u-text-1 {
  font-family: Helvetica;
  font-size: 2.25rem;
  margin: 26px auto 0;
}

.u-section-5 .u-line-1 {
  width: 775px;
  transform-origin: left center;
  margin: -1px auto 0;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 350px;
  width: 598px;
  margin: 27px auto 36px;
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 540px;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 24px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
    margin-top: 1px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 263px;
    margin-top: 24px;
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 430px;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 346px;
  width: 598px;
  margin: 30px auto 0;
}

.u-section-6 .u-line-1 {
  width: 775px;
  transform-origin: left center;
  margin: 37px auto 14px;
}

@media (max-width: 991px) {
  .u-section-6 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 540px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    margin-top: -14px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-6 .u-custom-html-1 {
    min-height: 196px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-line-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 634px;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 257px;
  margin: 44px 578px 0 183px;
}

.u-section-7 .u-custom-html-2 {
  height: auto;
  min-height: 257px;
  margin: -257px 190px 0 590px;
}

.u-section-7 .u-custom-html-3 {
  height: auto;
  min-height: 257px;
  margin: 27px 578px 0 183px;
}

.u-section-7 .u-custom-html-4 {
  height: auto;
  min-height: 257px;
  margin: -257px 171px 49px 590px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    margin-right: 478px;
    margin-left: 83px;
  }

  .u-section-7 .u-custom-html-2 {
    margin-right: 90px;
    margin-left: 490px;
  }

  .u-section-7 .u-custom-html-3 {
    margin-right: 478px;
    margin-left: 83px;
  }

  .u-section-7 .u-custom-html-4 {
    margin-right: 71px;
    margin-left: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 379px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-custom-html-2 {
    margin-top: 7px;
    margin-right: 190px;
    margin-left: 170px;
  }

  .u-section-7 .u-custom-html-3 {
    width: 379px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-custom-html-4 {
    width: 379px;
    margin: 7px auto 19px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 342px;
    margin-top: 0;
  }

  .u-section-7 .u-custom-html-2 {
    width: 341px;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-custom-html-3 {
    margin-top: -10px;
    margin-right: 62px;
    margin-left: 100px;
    width: auto;
  }

  .u-section-7 .u-custom-html-4 {
    width: auto;
    margin: 0 62px 0 99px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-7 .u-custom-html-1 {
    min-height: 212px;
    margin-top: 15px;
    margin-right: -5px;
    margin-left: 0;
    width: 340px;
  }

  .u-section-7 .u-custom-html-2 {
    min-height: 207px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-custom-html-3 {
    min-height: 207px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-custom-html-4 {
    min-height: 215px;
    margin-top: 8px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica.ttf);
}